@model PagedList.IPagedList<SzereloCegApp.Models.Diagnosztika>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Diagnosztikák";
}

<h2>Diagnosztikák</h2>

<p>
    @Html.ActionLink(" ", "Create", new object { }, new { @class = "glyphicon glyphicon-plus" })
</p>
<table class="table">
    <tr>
        <th>
            Hiba Neve:
        </th>     
        <th>
            Javítás Költsége:
        </th>   
    </tr>    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HibaNeve)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.JavitasAr)
        </td>          
        <td>                      
            @Html.ActionLink("✖", "Delete", new { id=item.ID },new { @class = "" })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))