@model BlogEngine.Models.BlogListViewModel

@using BlogEngine.Controllers
@{
    BlogListController blogcontroller = new BlogListController();
}
@foreach (var post in BlogListController.postList)
{
    <div>
        @post.PostedOn.ToShortDateString();
    </div>
    <div>
        @post.Description.ToString();
    </div>
    <div>
        @post.Title.ToString();
    </div>   
    <div>
        <label>Category:</label>
        @{ 
            var postcat = blogcontroller.GetPostCategory(post.Post);
            var postcatnumber = 0;
            foreach (var category in postcat)
            {
                @category.Name if (postcatnumber < postcat.Count())
                {
                    @Html.Raw(", ")
                }
            }
        }
    </div> 
    <div>
        @Html.ActionLink("Tovább..", "Post", "Blog", new { opt = @post.UrlOpt }, null)
    </div>
}