@model BlogEngine.Models.EditPostViewModel

@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm("Edit", "Blog", FormMethod.Post, new { role = "form" }))
{
    <div>
        id:<input type="text" name="tags" value="@Model.Id" /><br>
        Tags: <input type="text" name="tags" value="@ViewBag.Tags" /><br>
        Title: <input type="text" name="tags" value="@Model.Tittle" /><br>
        Description: <input type="text" name="tags" value="@Model.Description" /><br>
        Body: <input type="text" name="tags" value="@Model.Body" /><br>
        Modified: <input type="text" name="tags" value="@Model.Modified" /><br>
        posted: <input type="text" name="tags" value="@Model.PostedDate" /><br>
        <div>
            <table>
                <tr>
                    <td colspan="3"><input class="btn-default" type="submit" /></td>
                </tr>
            </table>
        </div>
    </div>
}
