@model BlogEngine.Models.EditPostViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>EditPost</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <table>
            <tr>
                <td>Id: </td>
                <td colspan="2">@Html.TextBoxFor(m => m.Id, new { @readonly = "readonly" })</td>
            </tr>
            <tr>
                <td>Title :</td>
                <td colspan="2" class="editPostTitle">@Html.TextBoxFor(m => m.Tittle)</td>
            </tr>            
                <tr>
                   <td>Category:</td>
                    @foreach (var cat in Model.Category)
                    {
                        <td colspan="2">@Html.TextBoxFor(m => cat)</td>
                    }                    
                </tr>
            
        </table>
    </div>

}

<div>
    @Html.ActionLink("Vissza", "Index")
</div>
