@model KisKer.ViewModels.CartIndexViewModel
@using KisKer.Models

@{
    ViewBag.Title = "Checkout";
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Html.BeginForm("Checkout", "Cart", FormMethod.Get))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <br />
    <table>
        <tr>
            <td>Dátum:</td>
            <td>
                @Html.TextBox("selectedDate", @DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "form-control", type = "date" })
            </td>
            <td><input type="submit" value="Dátum Beállítása" class="btn btn-info" /></td>
        </tr>
    </table>
    <br />
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    foreach (var item in Model.Cart.Lines)
    {
        @item.AruMennyiseg
        @item.Product.AruMegnevezes
        <br />
    }
    <br />
     <input type="submit" value="Mentés" />
}

<div>
    @Html.ActionLink("Vissza", "List","Product")
</div>
