@model KisKer.ViewModels.ErtekesitesViewModel
@using KisKer.Models
@using KisKer.ViewModels
@{
    ViewBag.Title = "VasralasN";
}

@section Styles
{
    <style>
        .srMenny {
            width: 70%;
            float: left;
            position: relative;
        }
    </style>
}
<h2>Dátum</h2>

<div class="well well-sm col-xs-12">
    <h2 class="col-xs-7">
        <strong>
            @Html.DisplayFor(model => model.Ertekesitesek.First().ErtekesitesDatum)
        </strong>
    </h2>  
</div>

<h2>Kiv</h2>
<div class="well well-sm col-xs-12">
    @using (Html.BeginForm("VasarlasKesz", "Cart", FormMethod.Post, new
    {
        id = "EditForm"
    }))
    {
        int nCounter = 0;
        CartViewModel.ErtekesitesReszletekModel dataModell = Model.ertekesitesTetelek;

        @Html.ValidationSummary(true, "", new
{
    @class = "text-danger"
})

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Ertekesitesek.First().ErtekesitesID)

        <table class="table" id="bevkosar">
            <thead>
                <tr>
                    <th></th>
                    <th class="col-xs-4">Áru neve</th>
                    <th class="text-center col-xs-2">Mennyisége</th>
                    <th class="text-right col-xs-2">Egységára</th>                    
                    <th class="text-right col-xs-2">Összesen</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sor in Model.ertekesitesTetelek.ErtekesitesTetelek)
                {
                    <tr>
                        <td>@Html.HiddenFor(dt => dataModell.ErtekesitesTetelek.ElementAt(nCounter).AruID)</td>

                        <td class="text-left table_td_align">@dataModell.ErtekesitesTetelek.ElementAt(nCounter).AruMegnevezes</td>

                        <td>
                            <div class="form-group">
                                @Html.EditorFor(dt => dataModell.ErtekesitesTetelek.ElementAt(nCounter).AruMennyiseg,
                new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control text-right srMenny",
                        @id = "mennyid" + nCounter.ToString(),
                        @min = 0,
                        @max = Int16.MaxValue
                    }
                })
                            </div>
                        </td>
                        <td class="text-right table_td_align">@dataModell.ErtekesitesTetelek.ElementAt(nCounter).EgysegAr.ToString("c")</td>                        
                        <td class="text-right table_td_align">@((sor.AruMennyiseg * sor.EgysegAr).ToString("c"))</td>
                    </tr>
                    nCounter++;
                }

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-right table_td_align">Összérték:</td>
                    <td class="text-right table_td_align srOsszes"> @Model.ertekesitesTetelek.TeljesErtek().ToString("c")</td>
                </tr>
            </tfoot>
        </table>
        <input class="btn btn-sm btn-success" type="submit" value="Vásárlás kész" />
        if (!ViewData.ModelState.IsValid && nCounter == 0)
        {
            @Html.RouteLink("Vissza az Árukhoz oldalra", new
 {
     controller = "NapiAdatok",
     action = "Index"
 }, new
 {
     @class = "btn btn-primary"
 })
        }

    }
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
    $(document).ready(function ()
    {

      Globalize.culture(navigator.language);

      $('#EditForm').validate(
      {
        rules:
        {
          Mennyiseg:
          {
            required: true
          }
        },
        highlight: function (element)
        {
          $(element).closest('.form-group').removeClass('success').addClass('error');
        },
        success: function (element)
        {
          $(element)
          .text('OK!').addClass('valid')
          .closest('.form-group').removeClass('error').addClass('success');
        }
      });

      $(".srMenny").change(function ()
      {
        var curValue = this.value;
        var curRow = aktualisSorKereses(this.parentNode);
        if (curValue > 0)
        {
          OsszertekSzamol(curRow, curValue, null);
        }
      });

      function OsszertekSzamol(nRowNum, nDarab)
      {
        var TableData = $("#bevkosar");
        var nAra = Globalize.parseFloat(TableData.children().children()[nRowNum].children[3].textContent);
        if (nDarab == null)
        {
          nDarab = TableData.children().children()[nRowNum].children[2].childNodes['1'].children['AruMennyiseg'].value;
        }        
        var nErtek = nAra * nDarab;
        TableData.children().children()[nRowNum].children[5].textContent = Globalize.format(nErtek, 'c', 'hu');

        nErtek = 0.0;
        var i;
        for (i = 0; i < TableData.children()[1].children.length ; i++)
        {
          nErtek = nErtek + Globalize.parseFloat(TableData.children()[1].children[i].children[5].textContent);
        }
        $(".srOsszes").text(Globalize.format(nErtek, 'c', 'hu'));
      }

      function aktualisSorKereses(node)
      {
        var i = 5;
        while (i > 0)
        {
          if (node.nodeName == "TR")
          {
            i = -1;
          }
          else
          {
            node = node.parentNode;
            i--;
          }
        }
        return (node.rowIndex);
      }
    });
    </script>
}
