@model SzereloCegApp.Models.Post

@{
    ViewBag.Title = "Delete";
}

<h3>Biztosan törli a bejegyzést?</h3>
<div>    
    <hr />
    <dl class="dl-horizontal">       

        <dd>
            @Html.DisplayFor(model => model.Szerelo.SzereloNev)
        </dd> 
        <br />
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <br />
        <dd>
            @Html.DisplayFor(model => model.PostedDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Törlés" class="btn btn-default" /> |
            @Html.ActionLink("Vissza", "Index")
        </div>
    }
</div>
