@model SzereloCegApp.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Szerelo.SzereloNev)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Description)</h4>
    <hr />
    <dl class="dl-horizontal">        

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <br />

        <dd>
            @Html.DisplayFor(model => model.PostedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Módosítás", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Vissza", "Index")
</p>
