@model IEnumerable<SzereloCegApp.Models.Post>
<table class="pull-right">
    <tr>
        <td>@Html.ActionLink("Új Bejegyzés", "Create")</td>
    </tr>
</table>
@foreach (var item in Model)
{
    <div>
        @Html.DisplayFor(modelItem => item.PostedDate)
    </div>
    <div>
        <label>@Html.DisplayFor(modelItem => item.Szerelo.SzereloNev)</label>        
    </div>
    <div>
        @Html.DisplayFor(modelItem => item.Description)
        <small>@Html.ActionLink("Tovább..", "Details", new { id = item.ID })</small>
    </div>
    <div>            
        @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-remove", @style = "color:red" })
    </div>    
    <br />
}



