@model PagedList.IPagedList<SzereloCegApp.Models.Szerelo>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Szerelők</h2>

<p>
    @Html.ActionLink(" ", "Create",new object { }, new { @class = "glyphicon glyphicon-plus" })
</p>
<table class="table">
    <tr>        
        <th>Szerelők</th>                
        <th>Ügyfelek</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SzereloNev)
        </td> 
        <td>
            @foreach (var ugyfel in item.Ugyfelek)
            {
                @Html.ActionLink(@ugyfel.UgyfelNev, "Details","Ugyfelek", new { id = ugyfel.ID }, null)
                @: <br />
            }
        </td>  
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.ID }, new {@class = "glyphicon glyphicon-pencil" }) |
            @Html.ActionLink(" ", "Details", new { id=item.ID }, new { @class = "glyphicon glyphicon-info-sign" }) |
            @Html.ActionLink(" ", "Delete", new { id=item.ID }, new { @class = "glyphicon glyphicon-remove" })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


