@model SzereloCegApp.Models.GepJarmu

@{
    ViewBag.Title = "Create";    
}

<h2>Új Gépjármű</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Marka, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Marka, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Marka, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tipus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tipus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tipus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rendszam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rendszam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rendszam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GyartasiEv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GyartasiEv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GyartasiEv, "", new { @class = "text-danger" })
            </div>
        </div>      
        <div class="row">

            <div class="col-md-4 form-group">
                <label class="control-label">Auto Diagnosztikái</label>
                @Html.ListBox("SelectedDiag", (MultiSelectList)ViewBag.SelectedDiag, new { @class = "form-control" })
                <button type="button" id="btnRight" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </button>
            </div>

            <div class="col-md-4 form-group">
                <label class="control-label">Összes Diagnosztika</label>
                @Html.ListBox("NotSelectedDiag", (MultiSelectList)ViewBag.NotSelectedDiag, new { @class = "form-control" })
                <button type="button" id="btnLeft" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UgyfelID, "Tulajdonos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UgyfelID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UgyfelID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btnSubmit" value="Mentés" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <a href="javascript:history.back()">Vissza</a>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#GyartasiEv').datetimepicker({
                defaultDate: '',
                format: 'YYYY-MM',
                showClose: false,
                showClear: true,
                toolbarPlacement: 'top'
            });
        });
    </script>
}


