@model SzereloCegApp.Models.GepJarmu

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>GepJarmu</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Marka, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Marka, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Marka, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tipus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tipus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tipus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rendszam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rendszam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rendszam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GyartasiEv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GyartasiEv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GyartasiEv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Diagnosztikák, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="col-md-offset-2 col-md-10">
            <table>
                <tr>
                    @{
                        int count = 0;
                        List<SzereloCegApp.ViewModels.JarmuDiagnosztikaViewModel> hibak = ViewBag.Diagnosztikák;
                        foreach (var hiba in hibak)
                        {
                            if (count++ % 3 == 0)
                            {
                                @:</tr><tr>
                        }
                            @:<td>
                                <input type="checkbox"
                                       name="selectedHibak"
                                       value="@hiba.DiagnosztikaID"
                                       @(Html.Raw(hiba.Hibas ? "checked=\"checked" : ""))>
                                @hiba.DiagnosztikaNeve
                                @:</td>
                    }
                        @:</tr>
                    }
                </table>
                <br />
            </div>        


        <div class="form-group">
            @Html.LabelFor(model => model.UgyfelID, "Tulajdonos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UgyfelID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UgyfelID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="javascript:history.back()">Back to List</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
