@model SzereloCegApp.Models.GepJarmu

@{
    ViewBag.Title = "Szamla";
}

<h2>Szerelési Munkalap</h2>
<div>
    <h4>Megrendelő Adatai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ugyfel.FelvetelIdeje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ugyfel.FelvetelIdeje)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ugyfel.UgyfelNev)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ugyfel.UgyfelNev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ugyfel.UgyfelTelefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ugyfel.UgyfelTelefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Auto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rendszam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rendszam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GyartasiEv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GyartasiEv)
        </dd>
    </dl>
</div>

<div>
    <h4>Car Tech KFT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ugyfel.Szerelo.SzereloNev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ugyfel.Szerelo.SzereloNev)
        </dd>
        <br />
        <dt>
            Javítási Költségek
        </dt>
        <dd>
            @foreach (var hiba in Model.Diagnosztikák)
            {
                @hiba.HibaNeve@: - @hiba.JavitasAr.ToString("C")
                <br />
            }
        </dd>
        <br />
        <dt>Javítás teljes költsége:</dt>
        <dd>
            @{
                decimal teljesar = 0;
                foreach (var hiba in Model.Diagnosztikák)
                {
                    teljesar += @hiba.JavitasAr;
                }
                @teljesar.ToString("C");
            }
        </dd>

    </dl>
</div>

<p>    
    @Html.ActionLink("Vissza", "Index","Ugyfelek")
</p>
