@model SzereloCegApp.Models.Ugyfel

@{
    ViewBag.Title = "Delete";
}

<h2>Ügyfél Törlése</h2>

<div>
    <h4>@Html.DisplayFor(model => model.UgyfelNev)</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl class="dl-horizontal">        

        <dt>
            @Html.DisplayNameFor(model => model.Vezetéknév)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vezetéknév)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keresztnév)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keresztnév)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Szulido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Szulido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FelvetelIdeje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FelvetelIdeje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surgos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surgos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Szerelo.SzereloNev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Szerelo.SzereloNev)
        </dd>
        <dt>
            Gépjárművek
        </dt>
        <dd> 
            @try
            {
                foreach (var auto in Model.GepJarmu)
                {
                    @auto.Auto @Html.ActionLink(" ", "DeleteFor", "GepJarmuvek", new { id = auto.ID }, new { @class = "glyphicon glyphicon-remove" })
                    @: <br />
            }
            }
            catch (Exception)
            {                
                { Response.Redirect(Request.UrlReferrer.ToString());}
            }                      
        </dd>
        <dd></dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="javascript:history.back()">Vissza</a>
        </div>
    }
</div>
