@model SzereloCegApp.Models.Ugyfel

@{
    ViewBag.Title = "Details";
}

<h2>Ügyfél Adatai</h2>

<div>
    <h4>@Html.DisplayFor(model => model.UgyfelNev)</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.Vezetéknév)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vezetéknév)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keresztnév)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keresztnév)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surgos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surgos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Szulido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Szulido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FelvetelIdeje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FelvetelIdeje)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.Szerelo.SzereloNev)
        </dt>

        <dd>
            @Html.ActionLink(Model.Szerelo.SzereloNev, "Details", "Szerelok", new { id = Model.Szerelo.ID }, null)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
