@model SzereloCegApp.Models.Ugyfel

@{
    ViewBag.Title = "Edit";
}

<h2>Ügyfél Módosítása</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Html.DisplayFor(model => model.UgyfelNev)</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Vezetéknév, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vezetéknév, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vezetéknév, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Keresztnév, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Keresztnév, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Keresztnév, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UgyfelTelefon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UgyfelTelefon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UgyfelTelefon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Szulido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Szulido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Szulido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FelvetelIdeje, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FelvetelIdeje, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FelvetelIdeje, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fizetve, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Fizetve)
                    @Html.ValidationMessageFor(model => model.Fizetve, "", new { @class = "text-danger" })
                </div>
            </div>  
            </div>      
            <dl class="right">
                <dt>
                    Gépjármű:
                </dt>
                <dd>
                    @foreach (var auto in Model.GepJarmu)
                {
                        @auto.Auto @Html.ActionLink(" ", "Delete", "GepJarmuvek", new { id = auto.ID }, new { @class = "glyphicon glyphicon-remove", @style = "color:red" })
                        <br />
                    }
                    @Html.ActionLink(" ", "Create", "GepJarmuvek", null, new { @class = "glyphicon glyphicon-plus", @style = "color:green" })
                </dd>
            </dl>            
            <div class="form-group">
                @Html.LabelFor(model => model.SzereloID, "Szerelő", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SzereloID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SzereloID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Mentés" class="btn btn-success" />
                </div>
            </div>
</div>
}

<div>
    <a href="javascript:history.back()">Vissza</a>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#Szulido').datetimepicker({
                defaultDate: '@Model.Szulido.ToString()',
                format: 'YYYY-MM-DD',
                showClose: false,
                showClear: true,
                toolbarPlacement: 'top'
            });
        });
        $(function () {
            $('#FelvetelIdeje').datetimepicker({
                defaultDate: '@Model.FelvetelIdeje.ToString()',
                format: 'YYYY-MM-DD HH:MM',
                showClose: false,
                showClear: true,
                toolbarPlacement: 'top'
            });
        });
    </script>
}
