@model IEnumerable<SzereloCegApp.Models.Ugyfel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.UgyfelNev)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.Surgos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Szulido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FelvetelIdeje)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Szerelo.SzereloNev)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.UgyfelNev)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Surgos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Szulido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FelvetelIdeje)
        </td>
        
        <td>
            @Html.ActionLink(item.Szerelo.SzereloNev, "Details", "Szerelok", new { id = item.Szerelo.ID }, null)            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
