@model IEnumerable<SzereloCegApp.Models.Ugyfel>

@{
    ViewBag.Title = "Index";
}

<h2>Ügyfelek</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Szerelők:</td>
            <td>@Html.DropDownList("SzereloID", null, "Összes Szerelő", htmlAttributes: new { @class = "form-control"})</td>
            <td></td>
        </tr>
        <tr>
            <td>Ügyfél Keresése:</td>
            <td>@Html.TextBox("searchString", null, new { @class = "form-control" })</td>
            <td><input type="submit" value="Filter" class="btn btn-default" />@Html.ActionLink("Reset","Index")</td>
        </tr>
    </table>
}
<br />
<table class="table">
    <tr>        
        <th>            
            @Html.ActionLink("Név", "Index", new { sortOrder = ViewBag.NameSort })
        </th>     
        
        <th>            
            @Html.ActionLink("Születési Idő", "Index", new { sortOrder = ViewBag.SzulSort })
        </th>
        <th>            
            @Html.ActionLink("Felvétel", "Index", new { sortOrder = ViewBag.FelvetelSort })
        </th>        
        <th>
            @Html.ActionLink("Szerelő", "Index", new { sortOrder = ViewBag.SzereloSort })
        </th>
        <th>
            Gépjármű
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.UgyfelNev)
        </td> 
         
        <td>
            @Html.DisplayFor(modelItem => item.Szulido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FelvetelIdeje)
        </td>
        
        <td>
            @Html.ActionLink(item.Szerelo.SzereloNev, "Details", "Szerelok", new { id = item.Szerelo.ID }, null)            
        </td>
        <td>
            @foreach (var auto in item.GepJarmu)
            {
                @Html.DisplayFor(modelItem => auto.Auto)
                @:<br />
            }
        </td> 
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-pencil" }) |
            @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "glyphicon glyphicon-info-sign" }) |
            @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-remove" })
        </td>
    </tr>
}

</table>
