@model IEnumerable<SzereloCegApp.Models.Ugyfel>

@{
    ViewBag.Title = "Index";
}

<h2>Car Tech Db</h2>


@using (Html.BeginForm())
{
    <table>

        <tr>
            <td>Szerelők:</td>
            <td>@Html.DropDownList("SzereloID", null,"Összes Szerelő", htmlAttributes: new { @class = "form-control"})</td>
            <td></td>
        </tr>
        <tr>
            <td>Ügyfelek:</td>
            <td>@Html.DropDownList("UgyfelID", null, "Összes Ügyfél", htmlAttributes: new { @class = "form-control" })</td>
            <td></td>
        </tr>
        <tr>
            <td>Keresés:</td>
            <td>@Html.TextBox("searchString", null, new { @class = "form-control" })</td>
            <td><input type="submit" value="Keresés" class="btn btn-info" />@Html.ActionLink("Reset","Index",null,new {@class="btn btn-warning" })</td>
        </tr>
    </table>
}
<br />
<table class="table">
    <tr>        
        <th>       
            @Html.ActionLink(" ","Index",new { sortOrder = ViewBag.NameSort},new { @class= "glyphicon glyphicon-sort", @style="color:black" })     
            @Html.ActionLink("Ügyfél", "Index", new { sortOrder = ViewBag.NameSort },new { @style = "color:black" })
           (@Model.Count())         
            @Html.ActionLink(" ","Create","Ugyfelek",null,new { @class= "glyphicon glyphicon-plus", @style="color:green"})
        </th>                 
        <th>
            @Html.ActionLink("Beosztott Szerelő", "Index", new { sortOrder = ViewBag.SzereloSort }, new { @style = "color:black" })
            (@Model.Select(g => g.Szerelo.ID).Distinct().Count()) 
            @Html.ActionLink(" ", "Create", "Szerelok", null, new { @class = "glyphicon glyphicon-plus", @style = "color:green" })
        </th>
        <th>            
            @Html.ActionLink("Gépjármű", "Index", new { sortOrder = ViewBag.Gepjarmu }, new { @style = "color:black" })
            @Html.ActionLink(" ", "Create", "GepJarmuvek", null, new { @class = "glyphicon glyphicon-plus", @style = "color:green" })
        </th>
        <th>
            @Html.ActionLink("Felvétel Ideje", "Index", new { sortOrder = ViewBag.FelvetelSort }, new { @style = "color:black" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>       
           @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "glyphicon glyphicon-info-sign" })                
           @Html.DisplayFor(modelItem => item.UgyfelNev)
        </td>    
        <td>
            @Html.ActionLink(" ", "Details", "Szerelok", new { id = item.Szerelo.ID }, new { @class = "glyphicon glyphicon-info-sign" })
            @Html.DisplayFor(modelItem => item.Szerelo.SzereloNev)             
        </td>
        <td>
            @foreach (var auto in item.GepJarmu)
            {
                @Html.ActionLink(" ", "Details","GepJarmuvek", new { id = auto.ID }, new { @class = "glyphicon glyphicon-info-sign" })
                @Html.DisplayFor(modelItem => auto.Auto) 
                @:<br />
            }
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.FelvetelIdeje)
        </td>
        <td></td>
    </tr>
}

</table>
