@model BlogEngine.Models.BlogListViewModel
@using BlogEngine.Controllers
@{
    BlogController bc = new BlogController();
}

<table class="pull-right">
    <tr>
        <td>@Html.ActionLink("Új post", "AddPost", "Blog")</td>
    </tr>    
</table>
@foreach (var post in BlogController.PostList)
{    
    <div>
       <h1>@post.Tittle.ToString()</h1>
    </div>
    <div>
        @post.PostedDate.ToShortDateString()
    </div>
    <div>
        <label>Category: </label>
        @{              
            foreach (var cat in post.Category)
            {
             @cat.Name;
            }
        }
    </div>
    <div>        
        @post.Description.ToString()
        @Html.ActionLink("Tovább..","Post","Blog", new { PostId = @post.Id}, null)
    </div>    
    <div>
        @{ 
            foreach (var tag in post.Tags)
            {
                <lavel>@tag.Name</lavel>
            }
        }        
    </div>
}


